:root {
  --main-color: rgb(0, 154, 216);
  --border: 2px solid;
  --secondary-color: #1e202b;
}
.navbar-toggler {
  background-color: white;
  font-size: 18px;
}

header nav {
  background-color: var(--secondary-color);
}

body {
  font-family: "Roboto", sans-serif;
}
.fs-10 {
  font-size: 10px;
}
.fs-14 {
  font-size: 14px;
}

header .navbar-brand img {
  width: 63px;
}

p {
  line-height: normal;
}
header nav .navbar-nav .nav-item a {
  border: var(--border) transparent;
  transition: all 0.1s;
}
header nav .navbar-nav .nav-item .style,
header nav .navbar-nav .nav-item a:hover {
  border: var(--border) var(--main-color);
}
main input,
footer input {
  background-color: var(--secondary-color);
}
main .first-section {
  background-image: url(../images/banner.png);
  background-position: center center;
  background-size: cover;
}
main .first-section button {
  transform: translate(-68%, 10%);
  padding: 10px 42px;
}
main .first-section input {
  color: white;
}
main .card .date {
  background-color: #2d303d;
}
main .card {
  background-color: #262936;
  height: 380px;
}
h2 {
  font-size: 90px;
}
main .card .card-body .img-h img {
  width: 100px;
  height: 100px;
}
main .card .card-body .image img {
  width: 60px;
}
main .card .card-body span {
  color: var(--main-color);
}
.second-section {
  background-color: var(--secondary-color);
}
.card {
  transform: translateY(-30%);
}
footer {
  background-color: #262936;
}
footer span {
  width: 40px;
  height: 40px;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.6s;
}
footer span:hover i {
  color: white;
}
footer span:hover {
  background-color: var(--main-color);
}
footer i {
  color: var(--main-color);
  transition: all 0.6s;
}

@media (max-width: 572px) {
  main .first-section button {
    transform: translate(-22%, 10%);
    padding: 10px 42px;
  }
}
